*{
    margin: 0;
    padding: 0;
}
header#primeiro{
    background-color: #ff8b3d;
    color: black;
    font-size: 40px;
}
header#segundo{
    background-color: #ffaf7a;
    color: black;
    font-size: 40px;
}

#segundo ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#segundo li{
    margin-left: 10px;
}
.container{
    width: 70vw;
    margin: auto;
    border: 0.5rem solid 	#ff8b3d;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}
.container input{
    width: 68vw;
    width: 93%;
    margin-bottom: 0.5rem;
    padding: 1rem;
    outline: none;
    border: 2px solid 	#ff8b3d;
    border-radius: 1rem;
}
button{
    margin:15px;
    font-size: 30px;
    padding: 5px;
}
.container1{
    width: 70vw;
    margin: auto;
    border: 0.5rem solid #ff8b3d;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem; 
}
.container1 input{
    width: 68vw;
    width: 93%;
    margin-bottom: 0.5rem;
    padding: 1rem;
    outline: none;
    border: 2px solid 	#ff8b3d;
    border-radius: 1rem;
}
footer{
    background-color: #ff8b3d;
    color: black;
    font-size: 20px;
}

